@tailwind base;

@font-face {
  font-family: Colfax;
  font-weight: 700;
  src: url(/font/colfaxBold) format('truetype');
}
@font-face {
  font-family: Colfax;
  font-weight: 500;
  src: url(/font/colfaxMedium) format('truetype');
}
@font-face {
  font-family: Colfax;
  font-weight: 400;
  src: url(/font/colfaxRegular) format('truetype');
}

h1 {
  @apply text-4xl leading-tight font-display font-bold;
}

h2 {
  @apply text-3xl leading-tight font-display font-medium mb-lg;
}

h5 {
  @apply text-sm uppercase font-display font-medium tracking-widest text-gray-400 mb-sm;
}

h6 {
  @apply text-lg leading-tight font-display font-medium;
}

p {
  @apply tracking-wide;
}

.btn {
  @apply text-white font-bold py-md px-xl rounded-lg;
}

.btn-blue {
  @apply bg-blue-100 btn;
}


@tailwind components;
@tailwind utilities;